body{
font-family:"Poppins", sans-serif;
margin:0;
background:#f4f4f4;
color:#333;
}

header{
background:#6c3bd1;
color:white;
text-align:center;
padding:40px;
}

nav{
background:#222;
}

nav ul{
list-style:none;
margin:0;
padding:0;
display:flex;
justify-content:center;
}

nav li{
margin:10px;
}

nav a{
color:white;
text-decoration:none;
}

main{
width:80%;
margin:auto;
margin-top:40px;
}

.resaltado{
color:#6c3bd1;
font-weight:600;
}

/* MODULOS FLEX */

.flex-modulos{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
margin-top:30px;
}

.modulo{
background:white;
padding:20px;
width:220px;
border-radius:10px;
box-shadow:0px 4px 10px rgba(0,0,0,0.15);
text-align:center;
}

/* ALINEACION FLEXBOX */

.flex-alineacion{
display:flex;
justify-content:space-evenly;
align-items:center;
flex-wrap:wrap;
gap:15px;
background:#eaeaea;
padding:30px;
margin-top:30px;
}

.item{
background:#6c3bd1;
color:white;
padding:15px 20px;
border-radius:8px;
}

.destacado{
background:#ff6b6b;
}

footer{
margin-top:40px;
background:#222;
color:white;
text-align:center;
padding:20px;
}